@import './reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');

$black : #171718;
$black-border : #26292D;
$purp : rgb(92, 98, 236);
$white : #fff;

$page-text-color: $black;
$dark-bg : $black;
$dark-bord : $black-border;
$accent : $purp;
$header-text : $white;

html,
body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    color: $page-text-color;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    min-width: 320px;

}

// .up-btn {
//     position: fixed;
//     bottom: 40px;
//     right: 30px;
//     width: 70px;
//     height: 70px;
//     background: url(../images/arrow.png);
//     background-size: cover;
//     cursor: pointer;
//     visibility: hidden;
//     opacity: 0;
//     transition: all 0.2s ease;

//     &.active {
//         bottom: 40px;
//         visibility: visible;
//         opacity: 0.6;
//     }
// }

// nav

.nav {
    padding: 20px 0;
    border-bottom: 1px solid $dark-bord;
    background-color: $dark-bg;
    color: $header-text;
    letter-spacing: normal;

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;

        .logo {
            color: $header-text;
            font-size: 24px;
            font-family: 'Poppins', sans-serif;

            & strong {
                font-weight: 700;
            }
        }
    }
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

    &__link {
        color: $header-text;
        transition: all 0.2s ease;

        &:hover {
            opacity: 0.8;

            &::after {
                position: relative;
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                background-color: $accent;
            }
        }
    }
}



//footer

.footer {
    background-color: $dark-bg;
    padding: 40px 0 20px;
    color: $header-text;
    margin-top: auto;

    .social {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        column-gap: 20px;

        & a {
            color: $header-text;
        }
    }

    .copyright {
        text-align: center;
    }
}

//skills
.skills-wrapper {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.content {
    .title-2 {
        font-size: 18px;
        line-height: 1.5;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $page-text-color;



    &p+p {
        margin-bottom: 10px;
    }

}